#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: lightgreen;
}
.lightblue {
  background-color: lightblue;
}
.lightblue {
  position: relative;
}
